@media(max-width: 950px) {
  .modal {
    right: 25%;
    left: 25%;
  }
}

@media(max-width: 670px) {
  .header {
    display: flex;
  }

  .header__input {
    width: 100%;
  }

  .autocomplete-list {
    width: 150px;
    left: 46%;
    bottom: -57px;
  }

  .autocomplete-fullName {
    font-size: 12px;
  }

  .modal {
    width: 300px;
    right: 0;
    left: 27%;
  }

  .modal__title-btn-box {
    width: 300px;
  }

  .modal__input-box {
    width: 300px;
  }

  .modal__buttons {
    width: 300px;
  }

  .modal__select {
    padding: 0 5px;
  }
}

@media(max-width: 520px) {
  .modal {
    left: 15%;
  }

  .autocomplete-list {
    left: 45%;
  }
}

@media(max-width: 390px) {
  .modal {
    left: 7%;
  }

  .autocomplete-list {
    left: 42%;
  }
}

@media(max-width: 330px) {
  .header__input-box,
  .autocomplete-list {
    display: none;
  }

  .modal {
    left: 3%;
  }
}