@media(max-width: 950px) {
  .modal {
    right: 25%;
    left: 25%;
  }

  .table__sort {
    gap: 40px;
  }

  .table__list-item {
    gap: 40px;
  }

  .table__client-action {
    width: 145px;
  }

  .table__client-text {
    width: 128px;
  }

  #contacts, #actions {
    width: 90px;
  }

  #sort-creation, #sort-changes {
    width: 150px;
  }

  .table__contact-list {
    width: 75px;
  }
}

@media(max-width: 670px) {
  .header {
    display: flex;
  }

  .header__input {
    width: 100%;
  }

  .autocomplete-fullName {
    font-size: 12px;
  }

  .modal {
    width: 300px;
    right: 0;
    left: 27%;
  }

  .modal__title-btn-box {
    width: 300px;
  }

  .modal__input-box {
    width: 300px;
  }

  .modal__buttons {
    width: 300px;
  }

  .modal__select {
    padding: 0 5px;
  }

  .table__sort {
    gap: 30px;
  }

  .table__list-item {
    gap: 30px;
  }
}

@media(max-width: 520px) {
  .modal {
    left: 15%;
  }
}

@media(max-width: 390px) {
  .modal {
    left: 7%;
  }
}

@media(max-width: 330px) {

  .header__input-box,
  .autocomplete-list.active {
    display: none;
  }

  .modal {
    left: 3%;
  }
}